{% extends "cocktaildb/base.html" %}
{% load staticfiles %}

{% block main-menu %}
<div id="sidebar-left" class="span2">
    <div class="nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
			<li class="active"><a href="{% url 'cocktaildb:index'%}"><i class="icon-glass"></i><span class="hidden-tablet"> Select cocktail</span></a>
            </li>
            <li><a href="{% url 'cocktaildb:ingredients'%}"><i class="icon-tint"></i><span class="hidden-tablet"> Ingredients</span></a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="#">Select Cocktail</a>
    </li>
</ul>

<div class="row-fluid">
	<div class="span12">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <form action="{% url 'cocktaildb:index' %}" method="post">
            <div class="span10"> 
			{% csrf_token %}
            <select name="cocktail">
                <option value="0"><font color="#5A5A5A">----</font></option>
            {% for cocktail in cocktails %}
                <option value="{{ cocktail.id }}" /><font color="#5A5A5A">{{ cocktail }}</font></option>
            {% endfor %}
            </select>
            <select name="ingredient" >
                <option value="0"><font color="#5A5A5A">----</font></option>
            {% for ingredient in ingredients %}
                <option value="{{ ingredient.id }}" /><font color="#5A5A5A">{{ ingredient }}</font></option>
            {% endfor %}
            </select>
             <select name="alc" >
                <option value="0"><font color="#5A5A5A">----</font></option>
                <option value="1"><font color="#5A5A5A">Non-alcoholic</font></option>
                <option value="2"><font color="#5A5A5A">Alcoholic</font></option>
                <!--<option value="2"><font color="#5A5A5A">Softy</font></option>
                <option value="3"><font color="#5A5A5A">Pimp</font></option>
                <option value="4"><font color="#5A5A5A">Dude</font></option>-->
            </select>
			</div>
            <button class="btn btn-success" type="submit" name="submit">Filter</button>
        </form>
	</div>
</div>

{% for chosen in chose %}

<div class="row-fluid">
    <div class="box {% cycle 'blue' 'yellow' 'pink' 'green' %} span12">
        <div class="box-header">
            <h2>
				<i class="hand-top"></i>
				<span class="break"></span>
					{{ chosen.1 }} <!-- name -->
			</h2>
			<div class="box-icon">
                <a class="btn-minimize" href="#"><i class="halflings-icon chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content" style="display:none;">
            <div class="span2">
                <a href="#">
                    <img class="avatar" src="{% static 'cocktaildb/img/cocktails/' %}{{chosen.0}}.jpg" alt="{{ chosen.1 }}">
                </a>
            </div>
            <div class="span10">
                <p>
                    <strong><font color="#111111">Description: </font></strong><font color="#5A5A5A">{{ chosen.2}}</font>  <!-- description -->
                    <br>
                    <br>
                    <strong><font color="#111111">Ingredients: </font></strong><font color="#5A5A5A">
                    {% for ingredient in chosen.5 %}
                        <a href="{% url 'cocktaildb:ingredient' ingredient.id %}"> {{ingredient}} </a> 
                    {% endfor %}
                    </font>
                    <br>
                    <br>
					{% if chosen.3%} <!-- nonalcoholic -->
						<strong><font color="#111111">Strength:</font></strong> <span class="label label-info">Virgin</span>
					{% elif chosen.4 < 12 %} <!-- alc -->
						<strong><font color="#111111">Strength:</font></strong> <span class="label label-success">Softy</span>
					{% elif chosen.4 < 32 %}
					  	<strong><font color="#111111">Strength:</font></strong> <span class="label label-warning">Pimp</span>
					{% elif chosen.4 < 90 %}
						<strong><font color="#111111">Strength:</font></strong> <span class="label label-important">Dude</span>
					{% endif %}
					<br>
                    <br>
                    <strong><font color="#111111">Status:</font></strong>  
                    {% if chosen.6 %}
                        <span class="label label-success" style="padding:1px;">available </span>
                    {% else %}
                        <span class="label label-important">not available
                        </span> 
                    {% endif %}
                </p>
                <p>
                      <form action="{% url 'cocktaildb:mix' chosen.0 %}" method="post">
                        <div class="actions">
                            <input type="hidden" name="id" value="12423">
                            {% csrf_token %}
                            <button class="btn btn-success" type="submit">Do it dude!</button>
                        </div>
                    </form>
                    <br>
                </p>
                <p>
                  
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}