{% extends "cocktaildb/base.html" %}
{% load staticfiles %}

{% block main-menu %}
<div id="sidebar-left" class="span2">
    <div class="nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
           <!-- <li><a href="index.html"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a>
            </li>-->
			<li class="active"><a href="{% url 'cocktaildb:index'%}"><i class="icon-glass"></i><span class="hidden-tablet"> Select cocktail</span></a>
            </li>
            <li><a href="{% url 'cocktaildb:ingredients'%}"><i class="icon-tint"></i><span class="hidden-tablet"> Ingredients</span></a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}

{% block content %}
<ul class="breadcrumb">
    <!--<li>
        <i class="icon-home"></i>
        <a href="index.html">Home</a>
        <i class="icon-angle-right"></i>
    </li>-->
    <li><a href="#">Select Cocktail</a>
    </li>
</ul>
{% for cocktail in cocktails %}
<div class="row-fluid">
    <div class="box {% cycle 'blue' 'yellow' 'pink' %} span12">
        <div class="box-header">
            <h2>
				<i class="hand-top"></i>
				<span class="break"></span>
					{{ cocktail.name }}
			</h2>
			<div class="box-icon">
                <a class="btn-minimize" href="#"><i class="halflings-icon chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            <div class="span2">
                <a href="#">
                    <img class="avatar" src="{% static 'cocktaildb/img/cocktails/' %}{{cocktail.id}}.jpg" alt="{{ cocktail }}">
                </a>
            </div>
            <div class="span10">
                <p>
                    <strong><font color="#111111">Description: </font></strong><font color="#5A5A5A">{{ cocktail.description }}</font>
                    <br>
                    <br>
                    <strong><font color="#111111">Ingredients: </font></strong><font color="#5A5A5A">
                    {% for step in steps %}
                        {% if cocktail == step.cocktail %}
                            {% for ingredient in ingredients %}
                                {% if step.ingredient == ingredient %}
                                    <a href="{% url 'cocktaildb:ingredient' ingredient.id %}"> {{ingredient}} </a> 
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    </font>
                    <br>
                    <br>
					{% if cocktail.nonalcoholic %}
						<strong><font color="#111111">Strength:</font></strong> <span class="label label-info">Virgin</span>
					{% elif cocktail.alc < 12 %}
						<strong><font color="#111111">Strength:</font></strong> <span class="label label-success">Softy</span>
					{% elif cocktail.alc < 32 %}
					  	<strong><font color="#111111">Strength:</font></strong> <span class="label label-warning">Pimp</span>
					{% elif cocktail.alc < 90 %}
						<strong><font color="#111111">Strength:</font></strong> <span class="label label-important">Dude</span>
					{% endif %}
					<br>
                    <br>
                    <strong><font color="#111111">Status:</font></strong> <span class="label label-success">Available</span>
                </p>
                <p>
                    <br>
                </p>
                <p>
                    <!--<form action="{% url 'cocktaildb:cocktail' cocktail.id 1 %}" method="post">-->
                    <form action="{% url 'cocktaildb:mix' cocktail.id %}" method="post">
                        <div class="actions">
                            <input type="hidden" name="id" value="12423">
							{% csrf_token %}
                            <button class="btn btn-success" type="submit">Do it dude!</button>
                        </div>
                    </form>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}