<div style="
            padding-left: 30px;
            padding-top: 20px;
            padding-bottom: 20px;x">
    <!--<div class="box-content">-->
    {% if cocktail = 0 %}
        <p> <font color="#5A5A5A"><h1>There is no order. Please connect to the WiFi "CocktailPi" with password "CocktailPi". Then select your Cocktail. </h1></font> </p>
    {% elif current_step = 0%}
        <p> <font color="#5A5A5A">
            <h1>Current ID: <b>{{current_id}} </b></h1><br>
            <h2>Please tap on the weight measuring module to start. </h2> <br>
            <h2> Your cocktail will be removed from the queue if you wait longer than 30 seconds!</h2></font> </p>
    {% else %}
     <h1>Current ID: <b>{{current_id}} </b></h1>
      <h2>Please follow the steps displayed below:</h2><br>

    {% for step in mixsteps %}
        {% if step.step = current_step %}

        <p> <font color="#5A5A5A"><h2>{{step}}</h2></font> </p>
        {% else %}
        <p> <font color="#D8D8D8">{{step}}</font> </p>
        {% endif %}
    {% endfor %}
    <!--<p> <a href=""> Previous </a><a href=""> Next</a></p>-->
    {% endif %}
    <!--</div>-->
</div>
<div class="clearfix"></div>