{% extends "cocktaildb/base.html" %}
{% load staticfiles %}

{% block main-menu %}
<div id="sidebar-left" class="span2">
    <div class="nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
			<li class="active"><a href="{% url 'cocktaildb:index'%}"><i class="icon-glass"></i><span class="hidden-tablet"> Select cocktail</span></a>
            </li>
            <li><a href="{% url 'cocktaildb:ingredients'%}"><i class="icon-tint"></i><span class="hidden-tablet"> Ingredients</span></a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="#">Your ID</a>
    </li>
</ul>

<div class="row-fluid">
    <div class="box-content">
       <div class="span10">
            Your ID is {{order_id}}. Please go to the bar and wait until your ID is displayed. 
        </div>
</div>
{% endblock %}